{% extends 'base.html' %}

{% block content %}
    <h1 class="main-title">Корзина</h1>

    {% if cart_items %}
        <div class="div-category-item">
            <ul>
                {% for cart_item in cart_items %}
                    <li>
                        <p class="item-name">{{ cart_item.item.name }}</p>
                        <p class="item-params">Количество: {{ cart_item.quantity }}</p>
                        {% if cart_item.sauce_base %}
                            <p class="item-params">{{ cart_item.sauce_base }}</p>
                        {% elif cart_item.topping %}
                            <p class="item-params">Шапочка: {{ cart_item.topping }}</p>
                        {% endif %}
                        {% if cart_item.pizza_board %}
                            <p class="item-params">Борт для пиццы: {{ cart_item.pizza_board.name }}</p>
                        {% endif %}
                        <p class="item-params">{% if cart_item.item_params.size %}
                            {{ cart_item.item_params.size }}
                        {% elif cart_item.item_params.weight %}
                            {{ cart_item.item_params.weight }} гр
                        {% elif cart_item.item_params.count %}
                            {{ cart_item.item_params.count }} шт.
                        {% endif %}
                            - {{ cart_item.sum }} руб.</p>
                        <p class="link-to-cart"><a class="link-from-cart"
                                                   href="{% url 'app_user:remove_from_cart' cart_item.id %}">Удалить</a>
                        </p>
                    </li>
                {% endfor %}
            </ul>
            <p class="item-name">Общая сумма: {{ total_price }} руб.</p>
            <p><a href="{% url 'app_order:order_create' %}">Оформить заказ</a></p>

        </div>
        {% if not cart_items %}
            <p class="main-title">Корзина пуста</p>
        {% endif %}

    {% endif %}
{% endblock %}