{% extends 'base.html' %}

{% block content %}
    <h1 class="main-title">Каталог</h1>

    {% if categories %}
        <ul>
            {% for category in categories %}
                <li><a href="{% url 'app_catalog:category_detail' category.slug %}">{{ category.name }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if items %}
        <div class="all-category-items">
            <ul class="ul-category-items">
                {% for item in items %}
                    <div class="div-category-item">
                        <form action="{% url 'app_user:add_to_cart' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="item_id" value="{{ item.id }}">
                            <li><p class="item-name">{{ item.name }}</p></li>
                        <div class="parameter-for-item">
                            {% if category.name == 'Пицца' %}
                                <!-- соус основа -->
                                <label for="sauce_base">Соус основа:</label>
                                <select class="select-item" name="sauce_base" id="sauce_base">
                                    {% for sauce in sauces %}
                                        <option value="{{ sauce.id }}">{{ sauce.name }}</option>
                                    {% endfor %}
                                </select>
                                <!-- борт для пиццы -->
                                <label for="pizza_board">Борт для пиццы:</label>
                                <select class="select-item" name="pizza_board" id="pizza_board">
                                    {% for board in pizza_board %}
                                        <option value="{{ board.id }}">{{ board.name }}</option>
                                    {% endfor %}
                                </select>
                                
                            {% endif %}
                        </div>
                        <div class="parameter-for-item">
                            <label for="item-params">Параметры:</label>
                            <select name="item-params" id="item-params">
                                {% for param in item.itemparams_set.all %}
                                    {% if param.size.size %}
                                        <option value="{{ param.id }}">{{ param.size.size }} см. - {{ param.price }} руб.
                                        </option>
                                    {% endif %}

                                    {% if param.weight %}
                                        <option value="{{ param.id }}">{{ param.weight }} гр. - {{ param.price }} руб.
                                        </option>
                                    {% endif %}

                                    {% if param.count %}
                                        <option value="{{ param.id }}">{{ param.count }} шт. - {{ param.price }} руб.</option>
                                    {% endif %}

                                {% endfor %}
                            </select>
                        </div>
                            <input type="submit" value="Добавить в корзину">
                        </form>
                    </div>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock %}