{% extends 'base.html' %}
{% load static %}

{% block content %}
	<h1 class="main-title">{{ title }}</h1>
    <div class="container-filter">
    <h3>Выберите фильтры заказов</h3>
    <div class="order-filters">
        <a href="{% url 'app_order:orders' %}">Все</a>
        {% for status_code, status_name in order_statuses %}
            <a href="?status={{ status_code }}">{% if request.GET.status|default_if_none:""|add:"0" == status_code|add:"0" %}<strong>{{ status_name }}</strong>{% else %}{{ status_name }}{% endif %}</a>
        {% endfor %}
    </div>
    
    </div>
    {% if orders %}
        <table class="table-orders">
            <tr>
                <th>Номер заказа</th>
                <th>Заказчик</th>
                <th>Дата создания</th>
                <th>Обновлен</th>
                <th>Статус</th>
                <th>Печать</th>
            </tr>
            {% for order in orders %}
                <tr class="order-info status-{{ order.status }}">
                    <td><a class="order-link" href="{% url 'app_order:order_detail' order.id %}">{{ order.id }}</a>
                    <td>{{ order.first_name }}</td>
                    <td>{{ order.created_at }}</td>
                    <td>{{ order.updated_at }}</td>
                    <td>{{ order.get_status_display }}</td>
                    <td class="td-print" rowspan="2"><a href="{% url 'app_order:download_pdf' order.id %}"><img class="td-img-print" src="{% static 'img/print-ico.png' %}" alt="Print"></a></td>
                </tr>
                <tr class="tr-order-management">
                    <td class="order-management"><a href="{% url 'app_order:change_order_status' order.id 2 %}">В обработке</a></td>
                    <td class="order-management"><a href="{% url 'app_order:change_order_status' order.id 3 %}">Готов</a></td>
                    <td class="order-management"><a href="{% url 'app_order:change_order_status' order.id 4 %}">В пути</a></td>
                    <td class="order-management"><a href="{% url 'app_order:change_order_status' order.id 5 %}">Выдан</a></td>
                    <td class="order-management"><a href="{% url 'app_order:change_order_status' order.id 6 %}">Отменить</a></td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>У вас пока нет заказов.</p>
    {% endif %}
{% endblock %}