{% extends 'base.html' %}

{% block content %}
    <h1 class="main-title">{{ title }}</h1>
    <p class="item-params"><strong>Номер заказа:</strong> {{ order.id }}</p>
    <p class="item-params"><strong>Дата создания:</strong> {{ order.created_at }}</p>
    <p class="item-params"><strong>Статус:</strong> {{ order.get_status_display }}</p>
    <p class="item-params"><strong>Имя:</strong> {{ order.first_name }}</p>
    <p class="item-params"><strong>Фамилия:</strong> {{ order.last_name }}</p>
    <p class="item-params"><strong>Email:</strong> {{ order.email }}</p>
    <p class="item-params"><strong>Адрес:</strong> {{ order.address }}</p>
    <p class="item-params"><strong>Телефон:</strong> {{ order.phone }}</p>
    <p class="item-params"><strong>Описание:</strong> {{ order.description }}</p>
    <p class="item-params"><strong>Филиал:</strong> {{ order.branch }}</p>
    <p class="item-params"><strong>Метод доставки:</strong> {{ order.delivery_method }}</p>
    <!-- Отображение информации о бесплатной доставке -->
    {% if order.delivery_method == 'Курьер' %}
        {% if order.free_delivery == 0 %}
            <p><strong>Бесплатная доставка:</strong> Да</p>
        {% else %}
            <p><strong>Стоимость доставки: </strong>{{ order.free_delivery }}</p>
        {% endif %}
    {% endif %}
    <p class="item-params"><strong>Метод оплаты:</strong> {{ order.get_payment_method_display }}</p>
    <p class="item-params"><strong>Создан:</strong> {{ order.created_at }}</p>
    <p class="item-params"><strong>Обновлен:</strong> {{ order.updated_at }}</p>
    <h2>Товары в Заказе:</h2>
    <div class="div-order-items">
        {% for basket in order.basket_history.baskets %}
            <div class="div-order-item">
                <strong>{{ basket.product_name }}:</strong>
                <ul class="ul-order-items">
                    <li><strong>Количество:</strong> {{ basket.quantity }}</li>
                    <li><strong>Описание:</strong> {{ basket.description }}</li>
                    <li><strong>Параметры товара:</strong>
                        <ul>
                            {% if basket.params.size %}
                                <li>Размер: {{ basket.params.size }}</li>
                            {% endif %}
                            {% if basket.params.weight %}
                                <li>Вес: {{ basket.params.weight }}</li>
                            {% endif %}
                            {% if basket.params.count %}
                                <li>Количество: {{ basket.params.count }}</li>
                            {% endif %}
                            {% if basket.params.volume %}
                                <li>Объем: {{ basket.params.volume }}</li>
                            {% endif %}
                            {% if basket.sauce %}
                                <li>Соус: {{ basket.sauce }}</li>
                            {% endif %}
                            {% if basket.topping %}
                                <li>Шапочка: {{ basket.topping }}</li>
                            {% endif %}
                            {% if basket.pizza_board %}
                                <li>Борт: {{ basket.pizza_board }}</li>
                            {% endif %}
                        </ul>
                    </li>
                    <li><strong>Сумма:</strong> {{ basket.sum }}</li>
                </ul>
            </div>
        {% endfor %}
    </div>

    <p><strong>Общая сумма заказа:</strong> {{ order.basket_history.total_sum }}</p>
{% endblock %}